<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;900&display=swap"
      rel="stylesheet"
    />

    <!-- restauarant icon -->
    <link rel="icon" href="./images/icons/restaurant-building.png" />

    <!-- web manifest -->
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <meta name="theme-color" content="#0e2954" />

    <!-- bootstrap icon cdn -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="header-wrapper">
        <h1>DDRestaurant</h1>
        <button id="hamburger-button">☰</button>
        <nav id="navigation">
          <ul class="nav-list">
            <li class="nav-item"><a href="#/home">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item">
              <a href="https://github.com/davidpinarto" target="_blank"
                >About Us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main-content" tabindex="0"></main>
    <footer>
      <div class="footer-wrapper">
        <p>Copyright © 2023 - DDRestaurant Apps</p>
      </div>
    </footer>
  </body>
</html>
