<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;900&display=swap"
      rel="stylesheet"
    />

    <!-- restauarant icon -->
    <link rel="icon" href="./images/icons/restaurant-building.png" />

    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="header-wrapper">
        <h1>DDRestaurant</h1>
        <a id="hamburger" href="#">☰</a>
        <nav id="navigation">
          <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item">
              <a href="https://github.com/davidpinarto">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="main-content">
      <div class="hero">
        <div class="hero-wrapper">
          <img src="./images/heros/hero-image_2.jpg" alt="" class="hero-img" />
          <h2>Wellcome To DDFood Restaurant</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt
            quisquam est omnis? Eum maxime nam sapiente perferendis dolore vero
            corporis repellendus laudantium! Explicabo ipsam, id deleniti non
            dolorum exercitationem sint!
          </p>
        </div>
      </div>

      <div class="content-wrapper">
        <h2>Explore Restaurant</h2>
        <div class="restaurants-list"></div>
      </div>
    </main>
    <footer>
      <div class="footer-wrapper">
        <p>Copyright © 2023 - DDRestaurant Apps</p>
      </div>
    </footer>
  </body>
</html>
